<nav class="navbar navbar-expand-sm navbar-nav-scroll bg-light" >
  <a class="navbar-brand">
    <img src="https://img.favpng.com/7/5/8/computer-icons-font-awesome-user-font-png-favpng-YMnbqNubA7zBmfa13MK8WdWs8.jpg" width="auto" height="30">
    {{user}}
  </a>

  <a class="nav-link text-uppercase" routerLink="/CrearUsuario" RouterLinkActive="active">Alta Usuario</a>

  <a class="nav-link text-uppercase" routerLink="/Login" RouterLinkActive="active">Login</a>

  <a class="nav-link text-uppercase" routerLink="/Listado" RouterLinkActive="active">Listado</a>
  
  <a class="nav-link text-uppercase" routerLink="/Favoritos" RouterLinkActive="active">Favoritos</a>

  <a class="nav-link text-uppercase" routerLink="/QuienSoy" RouterLinkActive="active">Quien Soy</a>
</nav>

<div id="AppLogin">





</div>

