<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    
    <a class="nav-link" routerLink="/CrearUsuario" RouterLinkActive="active">Alta Usuario</a>
    <a class="nav-link" routerLink="/Login" RouterLinkActive="active">Login</a>
    <a class="nav-link" routerLink="/Listado" RouterLinkActive="active">Listado</a>
    <a class="nav-link" routerLink="/QuineSoy" RouterLinkActive="active">Quien Soy</a>
    <a class="nav-link" routerLink="/LogOut" RouterLinkActive="active">Logout</a>

    <!-- Navbar content -->
</nav>
  