<nav class="navbar navbar-expand-sm navbar-nav-scroll bg-light" >
  <a class="navbar-brand">
    <img src="https://pbs.twimg.com/profile_images/703157898692571136/him8Nhr0_400x400.jpg" width="30" height="30">
    {{user}}
  </a>

  <a class="nav-link text-uppercase" routerLink="/CrearUsuario" RouterLinkActive="active">Alta Usuario</a>
  <a class="nav-link text-uppercase" routerLink="/Login" RouterLinkActive="active">Login</a>
  <a class="nav-link text-uppercase" routerLink="/Listado" RouterLinkActive="active">Listado</a>
  <a class="nav-link text-uppercase" routerLink="/QuienSoy" RouterLinkActive="active">Quien Soy</a>

</nav>
