    <div class="alert">
  
      <blockquote class="blockquote text-center alert bg-primary">
        <h1 class="mb-0 display-4"><strong> ¿Quien soy?.</strong></h1>
      </blockquote>
        
      <div class="container" align="center">
        <img src="./assets/imagenes/QuienSoy.jpg" class="rounded-circle" alt="¿Quien soy?">
      </div>
      <br>
      
      <div class="container">
        <p>Soy Emiliano Alvarez, alumno a termino de la Universidad Tecnologia Nacional: Facultad Regional de Avellaneda (UTNfra)</p>
      </div>

      <blockquote class="blockquote text-center alert bg-primary">
        <h1 class="mb-0 display-4"><strong> Dónde Funciona?</strong></h1>
      </blockquote>
  
  
  
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="./assets/imagenes/quiensoy3.jpg" alt="Card image cap">
              <div class="card-body">             
                <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
              </div>
            </div>
  

            <div class="card">
                <img class="card-img-top" src="./assets/imagenes/quiensoy1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
                </div>
              </div>         
  

            <div class="card">
              <img class="card-img-top" src="./assets/imagenes/quiensoy2.jpg" alt="Card image cap">
              <div class="card-body">
                  <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
              </div>
            </div>
          </div>
  
  
  
  
  
  
      <footer class="blockquote-footer"> 1° Parcial 2020.
      </footer>
    </div>
  <div>