<br>
  <!--<div class="row">
    <div *ngFor="let item of ListadoEJ">
      <div class="card-deck">
        <div class="card" style="width: 18rem; ">
          <img [src]="item.picture.medium" class="card-img-top" alt="Foto">

          <div class="card-body">
            <h5 class="card-title">{{item.name.first}} {{item.name.last}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>

          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>-->
<div class="container">
  <div class="row row-cols-1 row-cols-md-4">

    <div *ngFor="let item of ListadoEJ">
      <div class="col mb-4">
        <div class="card">



          <img [src]="item.picture.large" class="card-img-top" alt="Foto">

          <div class="card-body">
            <h5 class="card-title">{{item.name.first}} {{item.name.last}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>

          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
