<br>
<div class="alert alert-light col-md-4">

    <div class="col-md-12">

        <div class="row">
            <div class="col-md">
                <label>Nombre</label>
                <input [(ngModel)]="nombre" class="form-control" type="text" placeholder="Ingrese su nombre">
            </div>
        </div> 
    
    
    
        <div class="row">
            <div class="col-md">
                <label>Correo</label>
                <input [(ngModel)]="email" class="form-control" type="email" placeholder="Ingrese su nombre">
            </div>
            
            <div class="col-md-4">
                <label>Contraseña</label>
                <input [(ngModel)]="pass" class="form-control" type="password" placeholder="Ingrese contraseña">
            </div>
        </div>            
    </div>
    
    
    <div class="col-md">
        <br>
        <input class="btn btn-success mr-sm-2" type="button" value="Crear" (click)="crear()">
        <input class="btn btn-danger mr-sm-2" type="reset" value="Cancelar">
    </div>

     

</div>    
    